.App {
  height: 100vh;
}

.mapboxgl-map {
  height: 100%;
}

.mapboxgl-ctrl-top-left {
  top: 10px;
  left: 320px;
}

.mapbox-gl-draw_polygon {
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20"%3E%3Cpath d="M14 5l-4 4-4-4H2v4l4 4-4 4v2h4l4-4 4 4h4v-4l-4-4 4-4V5h-4z"/%3E%3C/svg%3E');
}

.MuiContainer-root {
  background-color: transparent;
}

.MuiPaper-root {
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 